<div class="dashboard-sidebar-links">
    <a href="/dashboard">
        <button class="dashboard-sidebar-link">
            <span class="mdi mdi-view-grid"></span>
            Dashboard
        </button>
    </a>
    <a href="/dashboard/articles">
        <button class="dashboard-sidebar-link">
            <span class="mdi mdi-book-open-page-variant"></span>
            Articles
        </button>
    </a>
    <a href="/dashboard/settings">
        <button class="dashboard-sidebar-link">
            <span class="mdi mdi-cog"></span>
            Settings
        </button>
    </a>
</div>