.article-editor {
    display: grid;
    grid-template-columns: 1fr 450px;
    column-gap: 10px;
    padding-right: 10px;
    overflow: auto;
    height: 100%;
}

#rpusblish-editor {
    background-color: var(--primary-bg);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 740px;
    padding: 30px 10px;
}

.center-editor {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-color: gray transparent;
    scrollbar-width: auto;
}

.editor-section {
    width: 760px;
    margin-top: 20px;
}

.editor-section.right-align {
    display: flex;
    justify-content: right;
}

.editor-section.no-margin {
    margin-top: 0px;
}

.article-title {
    width: 100%;
    font-size: 1.1em;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    color: var(--primary-text);
}

.publish-button {
    font-size: 1.3em;
    background: var(--normal-button-bg);
    color: var(--normal-button-text);
    padding: 8px 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

.publish-button:hover {
    background: var(--normal-button-bg-hover);
}

.article-management-box {
    padding: 30px;
    background: var(--primary-bg);
    overflow: auto;
}

.management-info-section {

}

.article-management-section {
    margin-bottom: 40px;
}

.article-management-section.split {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 40px;
}

.article-management-section.split .rside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.composed-button {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 1fr 34px;
    font-size: 1.1em;
}

#publish-article {
    box-sizing: border-box;
    font-size: 1em;
    padding: 4px 14px 4px 14px;
    height: 34px;
    color: var(--success-button-text);
    background-color: var(--success-button-bg);
    border: 1px solid var(--success-button-border);
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
}

#publish-article:hover {
    background-color: var(--success-button-bg-hover);
}

#unpublish-article[hide] {
    display: none;
}

#discard-article-changes[hide] {
    display: none;
}

#delete-article[hide] {
    display: none;
}

.alternate-article-actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    background-color: var(--success-button-bg);
    border: 1px solid var(--success-button-border);
    color: var(--success-button-text);
    border-radius: 0px 4px 4px 0px;
    border-left: none;
    cursor: pointer;
}

.alternate-article-actions-container:hover {
    background-color: var(--success-button-bg-hover);
}

.alternate-article-actions-container:hover > .alternate-article-actions-wrapper {
    display: block;
}

.alternate-article-actions-icon {
    width: 24px;
    height: 24px;
}

.alternate-article-actions-wrapper {
    display: none;
    width: 165px;
    position: absolute;
    right: 0px;
    top: 38px;
}

.alternate-article-actions {
    overflow: hidden;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.alternate-article-actions::before {
    content: "";
    background: transparent;
    width: 38px;
    height: 5px;
    display: block;
    position: absolute;
    right: 0px;
    top: -5px;
}

.alternate-article-actions button {
    box-sizing: border-box;
    font-size: 0.9em;
    padding: 4px 10px 4px 10px;
    width: 100%;
    height: 36px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
}

.alternate-article-actions button .iconify {
    margin-right: 8px;
}

.article-info-box-title {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-info-box-status {
    margin-bottom: 8px;
}

.article-info-box-status::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    margin-bottom: 2px;
    border-radius: 100%;
}

.article-info-box-status[status="ok"]::before {
    background-color: var(--indicator-green);
}

.article-info-box-status[status="alert"]::before {
    background-color: var(--indicator-yellow);
}

.article-info-box-status[status="info"]::before {
    background-color: var(--indicator-blue);
}

.article-info-box-date {
    color: var(--low-contrast-text);
    font-size: 0.8em;
}

