h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 10px 0px;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

* {
    /* Fonts */
    font-family: Arial, Helvetica, sans-serif;

    /* Background colors */

    /* Main page bg colors */
    --main-bg: #EEE;

    /* Base page bg colors */
    --primary-bg: #FFF;
    --secondary-bg: #EEE;
    
    /* Accents */
    --accent-bg: #90D9EC;

    /* Text colors */
    --primary-text: #333;
    --contrast-text: #FFF;
    --secondary-text: #666;
    --low-contrast-text: #888;

    /* Buttons */
    --generic-button-bg: #DDD;
    --generic-button-text: #666;
    --generic-button-text-active: #5CF;
    --generic-button-text-hover: #5CF;

    --low-contrast-button-bg: rgba(0, 0, 0, 0.07);
    --low-contrast-button-text: #666;
    --low-contrast-button-text-hover: #5CF;

    --normal-button-bg: #43B8F2;
    --normal-button-bg-hover: #4CF;
    --normal-button-text: #FFF;
    --normal-button-text-hover: #FFF;

    --contrast-button-bg: #DDD;
}


body {
    margin: 0px;
    background-color: var(--main-bg);
    color: var(--primary-text);
}