* {
    /* Fonts */
    font-family: Arial, Helvetica, sans-serif;

    /* Background colors */

    /* Main page bg colors */
    --main-bg: #EEE;

    /* Base page bg colors */
    --primary-bg: #FFF;
    --secondary-bg: #EEE;
    
    /* Accents */
    --accent-bg: #90D9EC;

    /* Text colors */
    --primary-text: #333;
    --contrast-text: #FFF;
    --secondary-text: #666;
    --low-contrast-text: #888;

    /* Buttons */
    --generic-button-bg: #DDD;
    --generic-button-text: #666;
    --generic-button-text-hover: #5CF;

    --normal-button-bg: #43B8F2;
    --normal-button-bg-hover: #4CF;
    --normal-button-text: #FFF;
    --normal-button-text-hover: #FFF;

    --contrast-button-bg: #DDD;
}


body {
    margin: 0px;
    background-color: var(--main-bg);
}