html, body {
    height: 100%;
}

.app {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;

    height: 100%;
}

.sidebar {
    background-color: var(--primary-bg);
}

.sidebar-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    background-color: var(--accent-bg);
    padding-bottom: 0px;
}

.logo img {
    width: 80%;
}

.sidebar-items {
    margin-top: 20px;
}

.dashboard-sidebar-item {
    background-color: var(--accent-bg);
}