html, body {
    height: 100%;
}

.app {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;

    height: 100%;
}

.sidebar {
    background-color: var(--primary-bg);
}

.sidebar-section {
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.logo {
    background-color: var(--accent-bg);
    padding-bottom: 0px;
}

.logo img {
    width: 80%;
}

.sidebar-items {
    margin-top: 10px;
}

.dashboard-sidebar-links {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.dashboard-sidebar-link {
    background-color: transparent;
    color: var(--low-contrast-text);
    border: none;
    padding: 12px;
    font-size: 1.3em;
    text-align: left;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.dashboard-sidebar-link:hover {
    background-color: var(--accent-bg);
    color: var(--contrast-text);
    font-weight: bold;
}

.dashboard-sidebar-link span {
    margin-left: 5px;
    margin-right: 8px;
}