<link rel="stylesheet" href="/public/css/articles_listing.css">
<script src="/public/js/article_listing.js"></script>

<div class="center-box">
    <div class="article-explorer-box" id="draft-articles-explorer">
        <h2>Draft articles</h2>
        <input type="text" class="article-search-box" placeholder="Search draft articles">
        <div class="article-search-results"></div>
        <div class="article-explorer-paginator">
            <div class="article-explorer-paginator-count">
                Showing&nbsp;
                <span class="current-articles-count">0</span>
                &nbsp;of&nbsp;
                <span class="total-articles-count">0</span>
            </div>
            <div class="paginator-box">
                <button class="paginator-button paginator-prev-button">
                    <span class="iconify" data-icon="mdi-chevron-left"></span>
                </button>
                <div class="paginator-list">
                    <button>1</button>
                </div>
                <button class="paginator-button paginator-next-button">
                    <span class="iconify" data-icon="mdi-chevron-right"></span>
                </button>
            </div>
            <div class="article-explorer-paginator-page">
                Page&nbsp;
                <span class="current-articles-page">0</span>
                &nbsp;of&nbsp;
                <span class="total-articles-pages">0</span>
            </div>
        </div>
    </div>
    <div class="article-explorer-box" id="published-articles-explorer">
        <h2>Published articles</h2>
        <input type="text" class="article-search-box" placeholder="Search published articles">
        <div class="article-search-results"></div>
        <div class="article-explorer-paginator">
            <div class="article-explorer-paginator-count">
                Showing&nbsp;
                <span class="current-articles-count">0</span>
                &nbsp;of&nbsp;
                <span class="total-articles-count">0</span>
            </div>
            <div class="paginator-box">
                <button class="paginator-button paginator-prev-button">
                    <span class="iconify" data-icon="mdi-chevron-left"></span>
                </button>
                <div class="paginator-list">
                    <button>1</button>
                </div>
                <button class="paginator-button paginator-next-button">
                    <span class="iconify" data-icon="mdi-chevron-right"></span>
                </button>
            </div>
            <div class="article-explorer-paginator-page">
                Page&nbsp;
                <span class="current-articles-page">0</span>
                &nbsp;of&nbsp;
                <span class="total-articles-pages">0</span>
            </div>
        </div>
    </div>
</div>