<link rel="stylesheet" href="/public/css/articles_listing.css">
<script src="/public/js/article_listing.js"></script>

<div class="center-box">
    <div class="article-explorer-box">
        <input type="text" class="article-search-box" placeholder="Search draft articles">
        <div class="article-search-results"></div>
        <div class="article-search-info">
            <div class="article-search-count">
                Showing&nbsp;
                <span class="current-draft-articles-count">100</span>
                &nbsp;of&nbsp;
                <span class="total-draft-articles-count">1000</span>
            </div>
            <div class="paginator-box">
                <button class="paginator-button draft-paginator-prev-button">
                    <span class="iconify" data-icon="mdi-chevron-left"></span>
                </button>
                <div class="paginator-list draft-paginator-buttons">
                    <button>1</button>
                </div>
                <button class="paginator-button draft-paginator-next-button">
                    <span class="iconify" data-icon="mdi-chevron-right"></span>
                </button>
            </div>
            <div class="article-search-page">
                Page&nbsp;
                <span class="current-draft-articles-page">1</span>
                &nbsp;of&nbsp;
                <span class="total-draft-articles-pages">10</span>
            </div>
        </div>
    </div>
    <div class="article-explorer-box">
        <input type="text" class="article-search-box" placeholder="Search published articles">
        <div class="article-search-results"></div>
        <div class="article-search-info">
            <div class="article-search-count">
                Showing&nbsp;
                <span class="current-published-articles-count">100</span>
                &nbsp;of&nbsp;
                <span class="total-published-articles-count">1000</span>
            </div>
            <div class="paginator-box">
                <button class="paginator-button published-paginator-prev-button">
                    <span class="iconify" data-icon="mdi-chevron-left"></span>
                </button>
                <div class="paginator-list published-paginator-buttons">
                    <button>1</button>
                </div>
                <button class="paginator-button published-paginator-next-button">
                    <span class="iconify" data-icon="mdi-chevron-right"></span>
                </button>
            </div>
            <div class="article-search-page">
                Page&nbsp;
                <span class="current-published-articles-page">1</span>
                &nbsp;of&nbsp;
                <span class="total-published-articles-pages">10</span>
            </div>
        </div>
    </div>
</div>