<link rel="stylesheet" href="/public/css/article_editor.css">

<script src="/public/js/moment.min.js"></script>

<script src="/public/js/editorjs/list.js"></script>
<script src="/public/js/editorjs/attaches.js"></script>
<script src="/public/js/editorjs/checklist.js"></script>
<script src="/public/js/editorjs/code.js"></script>
<script src="/public/js/editorjs/editorjs-alert.js"></script>
<script src="/public/js/editorjs/embed.js"></script>
<script src="/public/js/editorjs/footnotes.js"></script>
<script src="/public/js/editorjs/header.js"></script>
<script src="/public/js/editorjs/image.js"></script>
<script src="/public/js/editorjs/inline-code.js"></script>
<script src="/public/js/editorjs/marker.js"></script>
<script src="/public/js/editorjs/nested-list.js"></script>
<script src="/public/js/editorjs/paragraph.js"></script>
<script src="/public/js/editorjs/paragraph-with-alignment.js"></script>
<script src="/public/js/editorjs/quote.js"></script>
<script src="/public/js/editorjs/raw.js"></script>
<script src="/public/js/editorjs/table.js"></script>
<script src="/public/js/editorjs/warning.js"></script>


<script src="/public/js/editor.js"></script>
<script src="/public/js/article_editor.js"></script>

<div class="article-editor">
    <div class="center-editor">
        <div class="editor-section">
            <h2>Article Editor</h2>
        </div>
        <div class="editor-section no-margin">
            <h3>Article Title</h3>
            <input type="text" class="article-title" placeholder="Article title">
        </div>
        <div id="rpusblish-editor"></div>
    </div>
    <div class="article-management-box">
        <div class="article-management-section split">
            <div>
                <div class="article-info-box-title">Article Status</div>
                <div class="article-info-box-status" id="article-status"></div>
                <div class="article-info-box-date" id="article-status-last-update"></div>
            </div>
            <div class="rside">
                <div class="composed-button">
                    <button id="publish-article">Publish</button>
                    <div class="alternate-article-actions-container">
                        <span class="iconify alternate-article-actions-icon" data-icon="mdi-chevron-down"></span>
                        <div class="alternate-article-actions-wrapper dropdown">
                            <div class="alternate-article-actions">
                                <button class="dropdown-item">
                                    <span class="iconify" data-icon="mdi-backup-restore"></span>
                                    Discard changes
                                </button>
                                <button class="dropdown-item">
                                    <span class="iconify" data-icon="mdi-eye-remove"></span>
                                    Unpublish
                                </button>
                                <button class="dropdown-item">
                                    <span class="iconify" data-icon="mdi-delete-empty"></span>
                                    Delete article
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="article-management-section">
            <div>
                <div class="article-info-box-title">Editor Status</div>
                <div class="article-info-box-status" id="editor-status"></div>
                <div class="article-info-box-date" id="editor-status-last-update"></div>
            </div>
        </div>
    </div>
</div>