<link rel="stylesheet" href="/public/css/article_editor.css">

<script src="/public/js/editorjs/list.js"></script>
<script src="/public/js/editorjs/attaches.js"></script>
<script src="/public/js/editorjs/checklist.js"></script>
<script src="/public/js/editorjs/code.js"></script>
<script src="/public/js/editorjs/editorjs-alert.js"></script>
<script src="/public/js/editorjs/embed.js"></script>
<script src="/public/js/editorjs/footnotes.js"></script>
<script src="/public/js/editorjs/header.js"></script>
<script src="/public/js/editorjs/image.js"></script>
<script src="/public/js/editorjs/inline-code.js"></script>
<script src="/public/js/editorjs/marker.js"></script>
<script src="/public/js/editorjs/nested-list.js"></script>
<script src="/public/js/editorjs/paragraph.js"></script>
<script src="/public/js/editorjs/paragraph-with-alignment.js"></script>
<script src="/public/js/editorjs/quote.js"></script>
<script src="/public/js/editorjs/raw.js"></script>
<script src="/public/js/editorjs/table.js"></script>
<script src="/public/js/editorjs/warning.js"></script>


<script src="/public/js/editor.js"></script>
<script src="/public/js/article_editor.js"></script>

<div class="center-editor">
    <div id="rpusblish-editor"></div>
</div>